#TOC {
  color: #708090;
  font-family: Calibri;
  font-size: 16px;
  border-color: #708090;
}
body {
  color: #708090;
  background-color: #f5f5f5;
  font-family: Calibri;
}
pre {
  color: #708090;
  background-color: #f8f8f8;
}
#header {
  color: #800000;
  background-color: #f5f5f5;
  opacity: 0.6;
  font-family: Calibri;
  font-size: 20px;
}